<a href="https://colab.research.google.com/github/prof-rossetti/data-analytics-in-python/blob/main/notebooks/unit-2/Processing_CSV_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [42]:
#
# SETUP
#

import os
from statistics import mean, median
from pandas import read_csv #, DataFrame

# DOWNLOAD FILES

CSV_FILES = [
    {"filepath": "gradebook.csv", "url": "https://raw.githubusercontent.com/prof-rossetti/intro-to-python/master/data/gradebook.csv"},
    {"filepath": "products.csv", "url": "https://raw.githubusercontent.com/prof-rossetti/intro-to-python/master/data/products.csv"},
    {"filepath": "albums.csv", "url": "https://gist.githubusercontent.com/s2t2/f2b01347c06258cad28e7331f1e9320f/raw/b61ea33cd18aaadf885eb04544d921c9d9445e21/albums.csv"}
]
for csv_file in CSV_FILES:
    if not os.path.isfile(csv_file["filepath"]):
        print("DOWNLOADING", csv_file["filepath"])
        url = csv_file["url"]
        !wget -q $url 

# HERE IS A PRICE FORMATTING FUNCTION FOR YOU TO USE LATER

def to_usd(my_price):
    """
    Converts a numeric value to usd-formatted string, for printing and display purposes.
    
    Param: my_price (int or float) like 4000.444444
    
    Example: to_usd(4000.444444)
    
    Returns: $4,000.44
    """
    return f"${my_price:,.2f}" #> $12,000.71

# Exercise 1 (Gradebook)


Given the provided "gradebook.csv" file, write Python code to read the CSV data and perform each of the following tasks...

A) Print the number of students (rows).

B) Print the number of students (rows).

C) Print the average grade.

D) Print the median grade.

E) Create another column on the DataFrame called "letter_grade", and use a custom function to assign each numeric score a corresponding letter grade.

F) Print the percentage of students who got each grade.

In [44]:

#
# GRADEBOOK
#

df = read_csv("gradebook.csv")
print(df.head())

print("ROWS:", len(df))
print("COLUMNS:", df.columns.tolist())

print("MEAN:", df["final_grade"].mean())
print("MEAN:", mean(df["final_grade"]))

print("MEDIAN:", df["final_grade"].median())
print("MEDIAN:", median(df["final_grade"]))

print("LETTER GRADES...")

def calculate_grade(score):
    if score >= 75.0:
        grade = "Pass"
    else:
        grade = "Fail"
    return grade

df["letter_grade"] = df["final_grade"].map(calculate_grade)

print(df.head())

print(df["letter_grade"].value_counts())
print(df["letter_grade"].value_counts(normalize=True))

   student_id  final_grade
0           1         76.7
1           2         85.1
2           3         50.3
3           4         89.8
4           5         97.4
ROWS: 10
COLUMNS: ['student_id', 'final_grade']
MEAN: 83.64000000000001
MEAN: 83.64
MEDIAN: 87.6
MEDIAN: 87.6
LETTER GRADES...
   student_id  final_grade letter_grade
0           1         76.7         Pass
1           2         85.1         Pass
2           3         50.3         Fail
3           4         89.8         Pass
4           5         97.4         Pass
Pass    9
Fail    1
Name: letter_grade, dtype: int64
Pass    0.9
Fail    0.1
Name: letter_grade, dtype: float64

# Exercise 2 (Products)

Given the provided "products.csv" file, write Python code to read the CSV data and perform each of the following tasks...

A) Print the number of products (rows).

B) Loop through each of the rows and print the name and price of each. Use the provided `to_usd` function to format prices as USD with dollar sign and two decimal places.

In [45]:
#
# PRODUCTS
#

df = read_csv("products.csv")
print(len(df))
print(df.head())

for index, row in df.iterrows():
    print(row["name"], to_usd(row["price"]))

20
   id                                               name  ... department price
0   1                         Chocolate Sandwich Cookies  ...     snacks  3.50
1   2                                   All-Seasons Salt  ...     pantry  4.99
2   3               Robust Golden Unsweetened Oolong Tea  ...  beverages  2.49
3   4  Smart Ones Classic Favorites Mini Rigatoni Wit...  ...     frozen  6.99
4   5                          Green Chile Anytime Sauce  ...     pantry  7.99

[5 rows x 5 columns]
Chocolate Sandwich Cookies $3.50
All-Seasons Salt $4.99
Robust Golden Unsweetened Oolong Tea $2.49
Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce $6.99
Green Chile Anytime Sauce $7.99
Dry Nose Oil $21.99
Pure Coconut Water With Orange $3.50
Cut Russet Potatoes Steam N' Mash $4.25
Light Strawberry Blueberry Yogurt $6.50
Sparkling Orange Juice & Prickly Pear Beverage $2.99
Peach Mango Juice $1.99
Chocolate Fudge Layer Cake $18.50
Saline Nasal Mist $16.00
Fresh Scent Dishwasher Cleaner $4.99
Overnight Diapers Size 6 $25.50
Mint Chocolate Flavored Syrup $4.50
Rendered Duck Fat $9.99
Pizza for One Suprema  Frozen Pizza $12.50
Gluten Free Quinoa Three Cheese & Mushroom Blend $3.99
Pomegranate Cranberry & Aloe Vera Enrich Drink $4.25

# Exercise 3: Albums


Given the provided "albums.csv" file, write Python code to read the CSV data and perform each of the following tasks...

> artist_id | artist_name | album_id | album_title
> --- | ---  | ---  | --- 
> 1 | AC/DC | 1 | For Those About To Rock We Salute You
> 1 | AC/DC | 4 | Let There Be Rock
> 3 | Aerosmith | 5 | Big Ones
> 4 | Alanis Morissette | 6 | Jagged Little Pill
> 68 | Miles Davis | 48 | The Essential Miles Davis [Disc 1]
> 68 | Miles Davis | 49 | The Essential Miles Davis [Disc 2]
> 59 | Santana | 197 | Santana - As Years Go By
> 59 | Santana | 198 | Santana Live



A) "Print" a list of the CSV file's column names (i.e. `['artist_id', 'artist_name', 'album_id', 'album_title']`).

B) "Print" the number of rows in the CSV file, excluding the header row (i.e. `347`).

C) Assuming each "artist_id" represents a unique artist, "print" the number of unique artists (i.e. `204`).

D) Assuming each "album_id" represents a unique album, identify which five artists have the most albums, then loop through each of the top five artists and “print” that artist's name and corresponding album count, one at a time, each on a separate line. FYI: the following table depicts the correct top five artists and their corresponding album counts...

| artist_name   | album_count |
|---------------|----------|
| Iron Maiden   | 21       |
| Led Zeppelin  | 14       |
| Deep Purple   | 11       |
| Metallica     | 10       |
| U2            | 10       |

In [11]:

#
# QUESTION 3 (ALBUMS)
#

df = read_csv("albums.csv")
print(len(df))
print(df.head())

# PART A

print("COLS:", df.columns.tolist())

# PART B

print("ROWS:", len(df))

# PART C

rows = df.to_dict("records")
artist_ids = list(set([row["artist_id"] for row in rows]))
print("ARTIST COUNT:", len(artist_ids))

# PART D
#
# Assuming each "album_id" represents a unique album,
# identify which five artists have the most albums,
# then loop through each of the top five artists
# and “print” that artist's name and corresponding album count
#
# see:
# ... https://github.com/prof-rossetti/intro-to-python/blob/master/exercises/monthly-sales-reporting/pandas_solution_further.py
# ... https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
# ... https://realpython.com/pandas-groupby/
# ... https://stackoverflow.com/a/38309823/670433

#album_counts_by_artist = df.groupby(["artist_id", "artist_name"])["album_id"].count()
album_counts_by_artist = df.groupby(["artist_id", "artist_name"])["album_id"].nunique() # same answer as count(), but being safe about counting unique vals only
#print(type(album_counts_by_artist)) #> <class 'pandas.core.series.Series'>

# sorting a pandas series
# see: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_values.html
top_artists = album_counts_by_artist.sort_values(ascending=False)
#print(type(top_artists)) #> <class 'pandas.core.series.Series'>

top_artists = top_artists[0:5] # take top five items from a list

# looping through a pandas series
# see: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.iteritems.html
for top_artist in top_artists.iteritems():
    #print(type(top_artist)) #> <class 'tuple'>
    #print(top_artist) #> ((90, 'Iron Maiden'), 21)
    print("ARTIST:", top_artist[0][1], "ALBUMS:", top_artist[1])

347
   artist_id artist_name  album_id                            album_title
0          1       AC/DC         1  For Those About To Rock We Salute You
1          2      Accept         2                      Balls to the Wall
2          2      Accept         3                      Restless and Wild
3          1       AC/DC         4                      Let There Be Rock
4          3   Aerosmith         5                               Big Ones
COLS: ['artist_id', 'artist_name', 'album_id', 'album_title']
ROWS: 347
ARTIST COUNT: 204
ARTIST: Iron Maiden ALBUMS: 21
ARTIST: Led Zeppelin ALBUMS: 14
ARTIST: Deep Purple ALBUMS: 11
ARTIST: U2 ALBUMS: 10
ARTIST: Metallica ALBUMS: 10